*{
    box-sizing: border-box;

}

#fin{
    position: absolute;
    top: 40%;
    left: 38%;
    padding: 4rem;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

#fin h1{
    color: white;
    background-color: green;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 3rem;
    text-transform: uppercase;
}

#score{
    color: black;
    font-size: 3rem;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: bold;
}
